{% extends 'fotos/base.html' %}
{% load staticfiles %}

{% block section  %}
	<h2>{{ categoria.nombre }}</h2>
	<hr>
{% endblock section %}

{% block maincontent %}
<div>
	<table border="1px">
		<thead>
		</thead>
		<tbody>
			<tr>
				{% for p in categoria.foto_set.all %}
				<td>
					<div>{{ p.titulo }}</div>
					<div>
						<a href="{% url "fotos.views.vista_comentario" pk=p.pk %}" >
							<img src="{% static p.foto.url %}" style="width:200px; height:200px" >
						</a>
					</div>
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>
{{ categoria.id }}, {{ categoria.nombre }}, {{ categoria.foto_set.all }}
{% endblock maincontent %}